{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

<ul class="list-group list-group-light">
    {% for new_user in waiting_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">{{new_user.username}}</div>
                <div class="text-muted">{{[new_user.first_name, new_user.second_name]|join(' ')}}</div>
            </div>
            <a href="{{ url_for("admin.user_verify_detail", _id=new_user._id) }}" class="btn btn-primary">Detail</a>
            <a href="{{ url_for("admin.verify_account_direct", _id=new_user._id) }}" class="btn btn-success">Schválit účet</a>
        </li>
    {% endfor %}
</ul>

{% endblock  %}