{% extends 'base.html' %}
{% block content %}

<section class="py-2 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h3 class="fw-light">Najdi svoji knížku</h3>
        <form method="POST">
            {{ form.csfr_token }}
            {{ form.hidden_tag() }}
    
            {{ form.author.label(class="form-label") }}
    
            {{ form.author(class="form-control") }}
                {% for error in form.author.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            <br/>
            
            {{ form.book_title.label(class="form-label") }}
    
            {{ form.book_title(class="form-control") }}
            <br/>

            {{ form.year_published.label(class="form-label") }}
    
            {{ form.year_published(class="form-control") }}
            <br/>

            {{ form.order_by.label(class="form-label") }}
    
            {{ form.order_by(class="form-control") }}
            <br/>
            

            <br/>
            <input type="submit" value="Vyhledat" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </section>

{% for message in get_flashed_messages() %}
	
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  
{% endfor %}

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-3">
    {% for book in books %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3> {{book["book_title"]}} </h3>
                <p class="card-text">Autor: <strong>{{ book["author"] }}</strong> </br> 
                <div class="d-flex justify-content-between align-items-center">
                        {% if current_user.is_superuser %}
                        <a href="{{url_for('admin.edit_book', _id=book["_id"])}}" class="btn btn-sm btn-outline-secondary" role="button">Upravit záznam</a>
                        {% else %}
                        <a href="{{url_for('library.book_detail', _id=book["_id"])}}" class="btn btn-sm btn-outline-secondary" role="button">Vypůjčit knihu</a>
                        {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}